.classify {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.classify .title {
  width: 100%;
  height: 1.95556rem;
  line-height: 1.95556rem;
  text-align: center;
  font-size: 0.62222rem;
  color: #353535;
  position: relative;
}

.classify .title span {
  position: absolute;
  color: #333;
  left: 0.44444rem;
  top: 0.08889rem;
}

.classify .classify_list {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.classify .classify_list .like {
  width: 100%;
  border-top: 1px solid #eee;
  padding-top: 0.2963rem;
}

.classify .classify_list .like .rec-Sentiment_con {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.19259rem;
}

.classify .classify_list .like .rec-Sentiment_con > div {
  width: 50%;
  padding: 0 0.19259rem;
  box-sizing: border-box;
  margin-bottom: 0.2963rem;
}

.classify .classify_list .like .rec-Sentiment_con > div > a {
  display: block;
  width: 100%;
}

.classify .classify_list .like .rec-Sentiment_con > div > a > img {
  width: 100%;
  margin: 0;
  display: block;
}

.classify .classify_list .like .rec-Sentiment_con > div > div:nth-child(2) {
  width: 100%;
  height: 1.54074rem;
  background: #f2e9e2;
  font-size: 0.41481rem;
  color: #9a947e;
  text-align: center;
  line-height: 1.54074rem;
  margin-top: -0.07407rem;
  margin-bottom: 0.2963rem;
}

.classify .classify_list .like .rec-Sentiment_con > div p:nth-child(3) {
  width: 100%;
  font-size: 0.59259rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 0.19259rem;
}

.classify .classify_list .like .rec-Sentiment_con > div div:last-child {
  width: 100%;
  padding-top: 0.14815rem;
  display: flex;
  font-size: 0.44444rem;
  justify-content: space-between;
}

.classify .classify_list .like .rec-Sentiment_con > div div:last-child span {
  color: #9d3631;
  margin: 0 0.19259rem;
}

.classify .classify_list .like .rec-Sentiment_con > div div:last-child i {
  display: block;
  font-style: normal;
  color: #a59f9f;
}

.classify .classify_list .like .kong_di {
  font-size: 0.74074rem;
}

.classify .classify_list .like .kong_di p {
  text-align: center;
  line-height: 11.85185rem;
  color: #999;
}
