.kanjiaDetail {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #cdbf9c;
	.kanjia_title {
		width: 100%;
		padding-top:rem(40);
		padding-left: rem(27);
		background: #cdbf9c;
		span {
			display: block;
			width: rem(102);
			height: rem(102);
			border-radius: 50%;
			padding: rem(8);
			border:1px solid #fff;
			background: #cdbf9c;
			i {
				display: block;
				width: rem(81);
				height: rem(81);
				line-height: rem(81);
				padding-left: rem(11);
				color: #414141;
				border-radius: 50%;
				font-size: rem(65);
				font-weight: blod;
				background: #ffffff;
			}
		}
	}
	.kanjia_warpper {
		width: 100%;
		flex: 1;
		overflow: auto;
		background: #cdbf9c;
		.kanjia_con {
			width: 100%;
			.kanjia_ge {
				width:100%;
				> dt {
					width: rem(172);
					height: rem(172);
					border-radius: 100%;
					margin: 0 auto;
					> img {
						width:100%;
						height: 100%;
						border-radius: 50%;
					}
				}
				> dd {
					width: 100%;
					margin-top: rem(10);
					h3 {
						width: 100%;
						text-align: center;
						font-size: rem(40);
						color: #fffaf5;
					}
					p {
						margin-top: rem(23);
						width: 100%;
						text-align: center;
						color: #ffffea;
						font-size: rem(34);
					}
				}
			}
			.kanjia_shangpin {
				width: 100%;
				padding: rem(40) rem(66);
				>dl {
					width: 100%;
					background: #fff;
					display: flex;
					border-radius: rem(20);
					>dt {
						width: rem(263);
						padding: rem(14);
						img {
							width: rem(250);
							height: rem(250);
						}
					}
					>dd {
						padding: rem(14);
						width:rem(678);
						h2 {
							margin-top: rem(12);
							font-size: rem(40);
							color: #26232a;
						}
						p {
							margin-top: rem(107);
							font-size: rem(34);
							color: #b09a75;
							> s {
								margin-left:rem(147);
								color:#97978d;
							}
						}
					}
				}
			}

			.kanjia_price {
					width: 100%;
					>ul {
						width: 100%;
						text-align:center;
						>li {
							width: 100%;
							font-size: rem(40);
							text-align:center;
						}
						li:first-child {
							color: #fff;
							text-align: center;
							margin-top:rem(17);
							margin-bottom: rem(53);
						}
						li:nth-child(2) {
							button {
								border:0;
								padding: rem(36) rem(103);
								color: #fff;
								background: #b3a076;
								border-radius:rem(20);
								outline: none;
							}
							.Btn2 {
								background: #666;
								color:#fff;
							}
							.Btn3 {
								padding: rem(36);
								border:1px solid #ad9c71;
								background: #ccbe9b;
								color: #baac87;
								margin-left: rem(27);
							}
						}
						li:last-child {
							margin-top: rem(76);
							color: #fffae8;
							overflow:hidden;
							> span {
								padding:rem(12) rem(14);
								background: #b3a075;
								color:#fff;
								font-size:rem(31);
								border-radius: rem(10);
							}
						}
					}
					>p {
						width: 100%;
						margin-top:rem(56);
						height: rem(36);
						display: block;
						height: 20px;
						text-align: center;
						position: relative;
						>span {
							position: absolute;
							border:10px solid transparent;
							border-bottom-color: #fff;
							left: 48%;
							bottom:-1px;
						}
					}
				}
			.kanjia_haoyou {
				width:100%;
				height: rem(685);
				background: #fff;
				font-size: rem(34);
				color: #9f9c8d;
				padding-top:rem(48);
				> p {
					width: 100%;
					text-align: center;
					
				}
				> ul {
					width:100%;
					overflow:hidden;
					li:first-child  {
						float:left;
						border-radius:50%;
						padding-left:rem(26);
						img {
							width:rem(144);
							height:rem(144);
							border-radius:50%;
						}
					}
					li:nth-child(2) {
						float:left;
						padding-left:rem(30);
						padding-top:rem(14);
						h3 {
							font-size:rem(38);
							color: #262626;
						}
						p {
							margin-top:rem(24);
							color: #9e9e9e;
							font-size:rem(23);
						}
					}
					li:last-child {
						padding-top:rem(44);
						font-size:rem(30);
						color: #a79263;
						float:right;
						padding-right:rem(60);
						img {
							width:rem(55);
							height:rem(55);
						}
						span {
							
						}
					}
				}
			}
		}
	}
}