
.newsite {
    width: 100%;
    background: #fff;
    .site_title {
      width: 100%;
      line-height: rem(150);
      font-size: rem(40);
      position: relative;
      text-align: center;
      span {
        position: absolute;
        top: rem(15);
        left: rem(58);
          img {
              height: rem(56);
          }
      }
    }
    .site_con {
        width: 100%;
        ul {
            list-style: none;
            padding: 0 rem(44);
            li {
                height: rem(126);
                line-height: rem(126);
                font-size: rem(38);
                color: #717171;
                border-bottom: 2px solid #ececec;
                label {
                    color: #000;
                    display: inline-block;
                    width: rem(230);
                }
                input {
                    border: 0;
                    height:rem(100);
                    outline: none;
                    width:74%;
                    border-radius: rem(20);
                    background: #fff;
                }
            }
            li:nth-child(3) {
                select {
                        width: 23.5%;
                        height: rem(80);
                        border: 0;
                        outline: none;
                        background: #fff;
                        appearance: none;
                        
                }
                
            }
        }
    }
    .buttonBtn {
        width: 100%;
        box-sizing: border-box;
        padding: 0 rem(45);
        font-size: rem(46);
        button {
            width: 100%;
            height: rem(114);
            outline: none;
            border-radius: rem(20);
            margin-top: rem(46);
        }
        button:first-child {
            color: #fff6f1;
            background: #e54340;
            border: 0;
        }
        button:last-child {
            color: #000;
            border: 1px solid #c9c9c9;
            background: #fff;
        }
    }
}
