.orderslist {
  width: 100%;
}

.orderslist .site_title {
  width: 100%;
}

.orderslist .site_title h3 {
  width: 100%;
  line-height: rem(150);
  font-size: rem(40);
  position: relative;
  text-align: center;
}

.orderslist .site_title h3 span {
  position: absolute;
  top: rem(15);
  left: rem(58);
}

.orderslist .site_title h3 span img {
  height: rem(56);
}

.orderslist .site_title ul {
  width: 100%;
  display: flex;
  text-align: center;
}

.orderslist .site_title ul li {
  width: 20%;
  font-size: rem(38);
  line-height: rem(115);
  color: #363636;
  font-weight: 600;
}

.orderslist .site_title ul .site_red {
  color: #c11724;
  border-bottom: rem(8) solid #c11724;
}
