
	.staypayment {
		width:100%;
		padding-bottom: rem(50);
		.Nopay_warpper {
			width:100%;
			
			.Nopay_con {
				width:100%;
				>div {
					width: 100%;
					line-height: rem(500);
					text-align:center;
					font-size:rem(40);
					color: #999;
				}
				.Nopay_danhao {
					width:100%;
					padding-top: rem(25);
					background: #f5f5f5;
					li {
						font-size:rem(27);
						color: #000;
						padding: 0 rem(44);
						background:#fff;
						border-top:1px solid #f3f3f3;
						> span {
							float:right;
							color: #ba1324;
						}
					}
					li:first-child, li:nth-child(2) {
						height:rem(100);
						line-height:rem(100);
					}
					li:nth-child(3) {
						height:rem(245);
						padding-top:rem(25);
						> div {
							width:100%;
							display:flex;
							img {
								display:block;
								width:rem(171);
								height:rem(171);
								margin-right:rem(25);
							}
						}
					}
					> li:last-child {
						width:100%;
						padding-top: rem(48);
						padding-bottom: rem(20);
						font-size:rem(34);
						overflow:hidden;
						> span {
							font-size:rem(36);
							padding-top:rem(20);
							float:left;
						}
						> p {
							float:right;
							> button {
								width: rem(238);
								height:rem(84);
								border:1px solid #c8c8c8;
								border-radius: rem(10);
								color: #9d9d9d;
								background:#fff;
								outline: none;
							}
							button:last-child {
								border:1px solid #b4232a;
								color: #c31b1b;
								margin-left: rem(30);
							}
						}
					}
				}
			}
		}
	}
