@function rem($px) {
  @return $px / 67.5 + rem;
}

.cart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    >h3 {
        width: 100%;
        height: rem(102);
        line-height: rem(102);
        text-align: center;
        font-size: rem(42);
        background: #fff;
        z-index: 5;
        color: #353535;
        position: relative;
        border-bottom: 1px solid #eee;

        span {
            position: absolute;
            color:#b5272d;
            left: rem(30);
            top: rem(6);
        }
    }
    .myCart{
      width: 100%;
      -webkit-flex: 1;
      flex: 1;
      overflow: auto;

  .wapper {
    width: 100%;
       // 空的购物车状态
    > .my_list {
      width: 100%;

    .empty {
      width: 100%;
      text-align: center;
      margin-bottom: rem(250);
      img {
          margin-top: rem(150);
          width: rem(250);
      }
      p {
        margin-top: rem(43);
        font-size: rem(38);
        color: #9e9e9e;
        letter-spacing: 2px;
      }
  }
  .cart_list {
      width: 100%;
      flex: 1;
      overflow: auto;
  }

  // 加入购物车状态
  .cart_list {
      width: 100%;
      dl {
          width: 100%;
          // height: rem();
          display: flex;
          padding: rem(40) 0;
          border-bottom: 1px solid rgb(235, 227, 227);
          dt {
              width: 41%;
              span {
                display: inline-block;
                width:rem(50);
                height: rem(50);
                border-radius: 50%;
                border: 1px solid #ccc;
                margin:rem(90) rem(50) 0 rem(38);
                vertical-align: top;
                line-height: rem(50);
                > i.check::after {
                  display: block;
                  width: rem(50);
                  content: '\2713';
                  height:rem(50);
                  border-radius: 50%;
                  color: #fff;
                  text-align: center;
                  font-size: rem(40);
                  background: #b5272d;
                  transform: rotate(-10deg);
              }
              }
              img {
                  width:rem(230);
                  height: rem(230);
              }
          }
          dd {
              width: 59%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              position: relative;
              h3 {
                  font-size: rem(36);
                  color: #000;
                  padding-top: rem(14);
              }
             >span {
                  color:#b5272d;
                  font-size: rem(30);
                  margin-bottom: rem(31);
                  font-weight: bold;
              }
              .operation { // 加减操作
                  position: absolute;
                  bottom: 0;
                  right: rem(45);
                  display: flex;
                  span {
                      display: block;
                      width: rem(70);
                      height: rem(75);
                      border: 1px solid #cccccc;
                      text-align: center;
                      font-size: rem(30);
                      font-weight: bold;
                      line-height: rem(70);
                  }
                  span:nth-child(2) {
                      width: rem(91);
                  }
                  span:first-child {
                      border-right: 0;
                      border-radius: rem(8) 0 0 rem(8);
                  }
                  span:last-child {
                    border-left: 0;
                    border-radius:0 rem(8) rem(8) 0;
                  }
                  .reduce {
                    border: 1px solid #eee;
                  }
              }
          }
      }
  }
  h2 {
      width: 100%;
      height: rem(25);
      background: #f0f0f0;
  }

  // 猜你喜欢
  .like {
        width: 100%;
      h3 {
        text-align: center;
        font-size: rem(40);
        padding-top: rem(50);
        padding-bottom: rem(50);
        color:#323232;
    }
    .rec-Sentiment_con {
      width: 100%;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      padding: 0 rem(13);
      > div {
          width: 50%;
          padding: 0 rem(13);
          box-sizing: border-box;
          margin-bottom:rem(20);
          a {
              display: block;
            img {
              width: 100%;
              margin: 0;
              display: block;
            }
          }
          > div {
              width: 100%;
              height: rem(104);
              background: #f2e9e2;
              font-size: rem(28);
              color: #9a947e;
              text-align: center;
              line-height: rem(104);
              margin-top: rem(-5);
              margin-bottom: rem(20);
          }

          p:nth-child(3) {
              width: 100%;
              font-size: rem(40);
              white-space: nowrap;
              text-overflow:ellipsis;
              overflow:hidden;
              padding-right: rem(13);
          }


          span {
              font-size: rem(30);
              color: #9d3631;
              padding-top: rem(10);
              margin: 0 rem(13);
          }

      }
  }
  }
   }
  }
  }

  //  尾部下单
  .orders {
      width: 100%;
      height: rem(146);
      display: flex;
      justify-content: space-between;
      animation: top .3s forwards;
      background: #fff;
      div:first-child {
        line-height: rem(146);
        position: relative;
        input {
            display: none;
        }
        input + label {
            display: inline-block;
            width:rem(50);
            height: rem(50);
            border-radius: 50%;
            border: 1px solid #ccc;
            margin:rem(50) rem(35) 0 rem(40);
            vertical-align: top;
        }
        input:checked + label::after {
            display: inline-block;
            width:rem(50);
            height: rem(50);
            line-height: rem(50);
            border-radius: 50%;
            font-size: rem(40);
            text-align: center;
            content: '\2713';
            border: 1px solid #b5272d;
            background: #b5272d;
            color: #fff;
            position: absolute;
            top: rem(50);
            left:rem(42);
        }
        span {
          display: inline-block;
            font-size: rem(30);
            font-weight:bold;
            vertical-align: middle;
        }
      }
      div:last-child {
          font-size: rem(38);
          line-height: rem(146);
          span {
              color: #b5272d;
              i {
                  font-style: normal;
              }
          }
          button {
              width:rem(346);
              height: 100%;
              background: #ccc;
              color: #fff;
              outline: none;
              font-size: rem(43);
              border: 0;
              margin-left: rem(40);
          }
          .button {
            background: #b5272d;
          }
      }
  }
  // 删除
  .deleteAll {
    width: 100%;
    height: rem(146);
    display: flex;
    justify-content: space-between;
    animation: top .3s forwards;
    background: #fff;
    z-index: 5;
    div:first-child {
      line-height: rem(146);
      position: relative;
      input {
          display: none;
      }
      input + label {
          display: inline-block;
          width:rem(50);
          height: rem(50);
          border-radius: 50%;
          border: 1px solid #ccc;
          margin:rem(50) rem(35) 0 rem(40);
          vertical-align: top;
      }
      input:checked + label::after {
          display: inline-block;
          width:rem(50);
          height: rem(50);
          line-height: rem(50);
          border-radius: 50%;
          font-size: rem(40);
          text-align: center;
          content: '\2713';
          border: 1px solid #b5272d;
          background: #b5272d;
          color: #fff;
          position: absolute;
          top: rem(50);
          left:rem(42);
      }
      span {
        display: inline-block;
          font-size: rem(30);
          font-weight:bold;
          vertical-align: middle;
      }
    }
    div:last-child {
        font-size: rem(38);
        line-height: rem(146);
        span {
          color: #b5272d;
          i {
              font-style: normal;
          }
      }
        button {
            width:rem(346);
            height: 100%;
            background: #ccc;
            color: #fff;
            outline: none;
            font-size: rem(43);
            border: 0;
            margin-left: rem(40);
        }

        .button2 {
          background: #b5272d;
        }

    }
  }
}

@keyframes top {
    0% { transform: translateY(rem(146)) }
    100% { transform: translateY(rem(0)) }
}
