.cart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cart > h3 {
  width: 100%;
  height: 1.51111rem;
  line-height: 1.51111rem;
  text-align: center;
  font-size: 0.62222rem;
  background: #fff;
  z-index: 5;
  color: #353535;
  position: relative;
  border-bottom: 1px solid #eee;
}

.cart > h3 span {
  position: absolute;
  color: #b5272d;
  left: 0.44444rem;
  top: 0.08889rem;
}

.cart .myCart {
  width: 100%;
  -webkit-flex: 1;
  flex: 1;
  overflow: auto;
}

.cart .myCart .wapper {
  width: 100%;
}

.cart .myCart .wapper > .my_list {
  width: 100%;
}

.cart .myCart .wapper > .my_list .empty {
  width: 100%;
  text-align: center;
  margin-bottom: 3.7037rem;
}

.cart .myCart .wapper > .my_list .empty img {
  margin-top: 2.22222rem;
  width: 3.7037rem;
}

.cart .myCart .wapper > .my_list .empty p {
  margin-top: 0.63704rem;
  font-size: 0.56296rem;
  color: #9e9e9e;
  letter-spacing: 2px;
}

.cart .myCart .wapper > .my_list .cart_list {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.cart .myCart .wapper > .my_list .cart_list {
  width: 100%;
}

.cart .myCart .wapper > .my_list .cart_list dl {
  width: 100%;
  display: flex;
  padding: 0.59259rem 0;
  border-bottom: 1px solid #ebe3e3;
}

.cart .myCart .wapper > .my_list .cart_list dl dt {
  width: 41%;
}

.cart .myCart .wapper > .my_list .cart_list dl dt span {
  display: inline-block;
  width: 0.74074rem;
  height: 0.74074rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 1.33333rem 0.74074rem 0 0.56296rem;
  vertical-align: top;
  line-height: 0.74074rem;
}

.cart .myCart .wapper > .my_list .cart_list dl dt span > i.check::after {
  display: block;
  width: 0.74074rem;
  content: '\2713';
  height: 0.74074rem;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 0.59259rem;
  background: #b5272d;
  transform: rotate(-10deg);
}

.cart .myCart .wapper > .my_list .cart_list dl dt img {
  width: 3.40741rem;
  height: 3.40741rem;
}

.cart .myCart .wapper > .my_list .cart_list dl dd {
  width: 59%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.cart .myCart .wapper > .my_list .cart_list dl dd h3 {
  font-size: 0.53333rem;
  color: #000;
  padding-top: 0.20741rem;
}

.cart .myCart .wapper > .my_list .cart_list dl dd > span {
  color: #b5272d;
  font-size: 0.44444rem;
  margin-bottom: 0.45926rem;
  font-weight: bold;
}

.cart .myCart .wapper > .my_list .cart_list dl dd .operation {
  position: absolute;
  bottom: 0;
  right: 0.66667rem;
  display: flex;
}

.cart .myCart .wapper > .my_list .cart_list dl dd .operation span {
  display: block;
  width: 1.03704rem;
  height: 1.11111rem;
  border: 1px solid #cccccc;
  text-align: center;
  font-size: 0.44444rem;
  font-weight: bold;
  line-height: 1.03704rem;
}

.cart .myCart .wapper > .my_list .cart_list dl dd .operation span:nth-child(2) {
  width: 1.34815rem;
}

.cart .myCart .wapper > .my_list .cart_list dl dd .operation span:first-child {
  border-right: 0;
  border-radius: 0.11852rem 0 0 0.11852rem;
}

.cart .myCart .wapper > .my_list .cart_list dl dd .operation span:last-child {
  border-left: 0;
  border-radius: 0 0.11852rem 0.11852rem 0;
}

.cart .myCart .wapper > .my_list .cart_list dl dd .operation .reduce {
  border: 1px solid #eee;
}

.cart .myCart .wapper > .my_list h2 {
  width: 100%;
  height: 0.37037rem;
  background: #f0f0f0;
}

.cart .myCart .wapper > .my_list .like {
  width: 100%;
}

.cart .myCart .wapper > .my_list .like h3 {
  text-align: center;
  font-size: 0.59259rem;
  padding-top: 0.74074rem;
  padding-bottom: 0.74074rem;
  color: #323232;
}

.cart .myCart .wapper > .my_list .like .rec-Sentiment_con {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.19259rem;
}

.cart .myCart .wapper > .my_list .like .rec-Sentiment_con > div {
  width: 50%;
  padding: 0 0.19259rem;
  box-sizing: border-box;
  margin-bottom: 0.2963rem;
}

.cart .myCart .wapper > .my_list .like .rec-Sentiment_con > div a {
  display: block;
}

.cart .myCart .wapper > .my_list .like .rec-Sentiment_con > div a img {
  width: 100%;
  margin: 0;
  display: block;
}

.cart .myCart .wapper > .my_list .like .rec-Sentiment_con > div > div {
  width: 100%;
  height: 1.54074rem;
  background: #f2e9e2;
  font-size: 0.41481rem;
  color: #9a947e;
  text-align: center;
  line-height: 1.54074rem;
  margin-top: -0.07407rem;
  margin-bottom: 0.2963rem;
}

.cart .myCart .wapper > .my_list .like .rec-Sentiment_con > div p:nth-child(3) {
  width: 100%;
  font-size: 0.59259rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 0.19259rem;
}

.cart .myCart .wapper > .my_list .like .rec-Sentiment_con > div span {
  font-size: 0.44444rem;
  color: #9d3631;
  padding-top: 0.14815rem;
  margin: 0 0.19259rem;
}

.cart .orders {
  width: 100%;
  height: 2.16296rem;
  display: flex;
  justify-content: space-between;
  animation: top .3s forwards;
  background: #fff;
}

.cart .orders div:first-child {
  line-height: 2.16296rem;
  position: relative;
}

.cart .orders div:first-child input {
  display: none;
}

.cart .orders div:first-child input + label {
  display: inline-block;
  width: 0.74074rem;
  height: 0.74074rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0.74074rem 0.51852rem 0 0.59259rem;
  vertical-align: top;
}

.cart .orders div:first-child input:checked + label::after {
  display: inline-block;
  width: 0.74074rem;
  height: 0.74074rem;
  line-height: 0.74074rem;
  border-radius: 50%;
  font-size: 0.59259rem;
  text-align: center;
  content: '\2713';
  border: 1px solid #b5272d;
  background: #b5272d;
  color: #fff;
  position: absolute;
  top: 0.74074rem;
  left: 0.62222rem;
}

.cart .orders div:first-child span {
  display: inline-block;
  font-size: 0.44444rem;
  font-weight: bold;
  vertical-align: middle;
}

.cart .orders div:last-child {
  font-size: 0.56296rem;
  line-height: 2.16296rem;
}

.cart .orders div:last-child span {
  color: #b5272d;
}

.cart .orders div:last-child span i {
  font-style: normal;
}

.cart .orders div:last-child button {
  width: 5.12593rem;
  height: 100%;
  background: #ccc;
  color: #fff;
  outline: none;
  font-size: 0.63704rem;
  border: 0;
  margin-left: 0.59259rem;
}

.cart .orders div:last-child .button {
  background: #b5272d;
}

.cart .deleteAll {
  width: 100%;
  height: 2.16296rem;
  display: flex;
  justify-content: space-between;
  animation: top .3s forwards;
  background: #fff;
  z-index: 5;
}

.cart .deleteAll div:first-child {
  line-height: 2.16296rem;
  position: relative;
}

.cart .deleteAll div:first-child input {
  display: none;
}

.cart .deleteAll div:first-child input + label {
  display: inline-block;
  width: 0.74074rem;
  height: 0.74074rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0.74074rem 0.51852rem 0 0.59259rem;
  vertical-align: top;
}

.cart .deleteAll div:first-child input:checked + label::after {
  display: inline-block;
  width: 0.74074rem;
  height: 0.74074rem;
  line-height: 0.74074rem;
  border-radius: 50%;
  font-size: 0.59259rem;
  text-align: center;
  content: '\2713';
  border: 1px solid #b5272d;
  background: #b5272d;
  color: #fff;
  position: absolute;
  top: 0.74074rem;
  left: 0.62222rem;
}

.cart .deleteAll div:first-child span {
  display: inline-block;
  font-size: 0.44444rem;
  font-weight: bold;
  vertical-align: middle;
}

.cart .deleteAll div:last-child {
  font-size: 0.56296rem;
  line-height: 2.16296rem;
}

.cart .deleteAll div:last-child span {
  color: #b5272d;
}

.cart .deleteAll div:last-child span i {
  font-style: normal;
}

.cart .deleteAll div:last-child button {
  width: 5.12593rem;
  height: 100%;
  background: #ccc;
  color: #fff;
  outline: none;
  font-size: 0.63704rem;
  border: 0;
  margin-left: 0.59259rem;
}

.cart .deleteAll div:last-child .button2 {
  background: #b5272d;
}

@keyframes top {
  0% {
    transform: translateY(2.16296rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
