
@function rem($px) {
  @return $px / 67.5 + rem;
}
.classification {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .search {
        width: 100%;
        height: rem(118);
        box-sizing: border-box;
        padding: rem(10);
        border-bottom: 1px solid #ccc;
        input {
            width: 64%;
            border-radius: rem(40);
            outline: none;
            border: 0;
            background: #e6e3e3;
            font-size: rem(38);
            height: rem(88);
            letter-spacing: 2px;
            padding-left: rem(80);
        }
    }
    .classif_list {
        width: 100%;
        flex: 1;
        display: flex;
        overflow:hidden;
        padding-top: rem(33);



    // 左边列表
    .left_list {
        width: 25%;
        border-right: 1px solid #ccc;
       > ul {
            list-style: none;
            width: 100%;
            text-align: center;

           > li {
                height: rem(100);
                font-size: rem(38);
                line-height: rem(100);
                margin: rem(30) 0;
            }
            .active {
              color: red;
                border-left: 2px solid red;
            }
        }
    }
    // 右边内容
    .right_list {
        padding-top: rem(18);
        width: 75%;
        flex: 1;
        overflow: auto;
      .right_list_con {
          width: 100%;
          padding-bottom: rem(50);
        .sort_banner { // 轮播
            width: 100%;
            .swiper-wrapper {
              width: 100%;
                .swiper-slide {
                    img {
                        width: 100%;
                        border-radius: 0 0 rem(10) rem(10);
                        padding:0 rem(28) 0 rem(18);
                    }
                }
            }
        }

        // 内容
        .sort_con {
            width: 100%;
            position: relative;
            > ul {
              width: 100%;
              display: flex;
            flex-wrap: wrap;
            padding-right:rem(40);
              li {
                  width: 33%;
                  text-align: center;
                  color: #3e3d42;
                  font-size: rem(33);
                a {
                    font-size: rem(30);
                    display: block;
                  img {
                    width:50%;
                    min-height: rem(120);
                    margin-top: rem(120);
                    margin-bottom:rem(80);
                }
                p {
                    color: #3e3d42;
                    font-size: rem(33);
                }
                }
              }
            }
            #loading {
                position: absolute;
                z-index: 5;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 100%;
                background: #fff;
            }
        }
      }
    }
}
}
